<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:fragment="head">

<head>
  <meta charset="UTF-8" />



  <meta name="viewport" content="width=device-width, initial-scale=1" />


  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <script th:src="@{/js/post.js}"></script>

  <th:block layout:fragment="styles"></th:block>
  <th:block layout:fragment="script"></th:block>

  <title>MyBlog</title>
</head>
</html>