<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">


        <nav>
            <ul>
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">프로젝트</a>
                </li>

                <h3>회원 게시판</h3>
                <li>
                    <a th:href="@{/post/userFreeBoard}">회원 자유게시판</a>
                </li>

                <h3>비회원 게시판</h3>
                <li>
                    <a href="#">비회원 자유게시판</a>
                </li>
            </ul>
        </nav>


</html>