<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

  <section layout:fragment="content">
    <body>
    <h1>회원 정보 수정</h1>
    <hr>
      <form th:action="@{/templates/userpage/update/{email}(email=${userRequestDTO.email})}" th:object="${userRequestDTO}" method="post">
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" th:field="*{password}" placeholder="새 비밀번호" minlength="8" />
          <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <div>
          <label for="nickname">Nickname</label>
          <input type="text" id="nickname" th:field="*{nickname}" placeholder="nickname" />
          <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
        </div>
        <button type="submit">수정</button>
      </form>
    </body>
  </section>
</html>