<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

    <head>
        <th:block layout:fragment="styles">
            <link rel="stylesheet" href="/css/GuestPasswordPage.css">
        </th:block>
        <th:block layout:fragment="script">
            <script th:inline="javascript">
                const message = /*[[${msg}]]*/ "";
                if (message) alert(message);
            </script>
        </th:block>
    </head>

    <section layout:fragment="content">
        <div class="auth-container">
            <h1>게시글 수정</h1>
            <hr>

            <div class="info-section">
                <h3>비밀번호를 입력하세요</h3>
                <p>게시글을 수정하려면 작성 시 입력했던 비밀번호를 입력해주세요.</p>
            </div>

            <form th:action="@{/post/{categoryName}/updatepost/{id}/verify(categoryName=${categoryName}, id=${postId})}" method="post" class="auth-form">

                <div class="form-group">
                    <label for="password">비밀번호:</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
                </div>

                <div class="button-group">
                    <button type="submit" class="auth-button">확인</button>
                    <button type="button" class="auth-button button-secondary" th:onclick="|location.href='@{/post/{categoryName}/{id}(categoryName=${categoryName}, id=${postId})}'|">
                        취소
                    </button>
                </div>
            </form>
        </div>
    </section>

</html>