<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>메인 페이지</title>
</head>
<body>
<h1>main page</h1>

<!-- 로그인 상태면 사용자 이름(이메일) 표시 -->
<div th:if="${#authentication.principal != null}">
  <p>안녕하세요, <span th:text="${#authentication.name}">user</span>님</p>
</div>

  <a th:href="@{/login}">login</a><br/>
  <a th:href="@{/user/join}">join</a><br/>


  <a th:href="@{/logout}">logout</a><br/>



<a th:href="@{/post/user-free-board}">회원 자유 게시판</a><br/>
<!--&lt;!&ndash; 비로그인 상태일 때 &ndash;&gt;-->
<!--<div th:if="${#authentication.principal == null}">-->
<!--</div>-->

<!--&lt;!&ndash; 로그인 된 상태일 때 &ndash;&gt;-->
<!--<div th:if="${#authentication.principal != null}">-->
<!--</div>-->

</body>
</html>